<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="css/game.css">
     <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
     <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
     <script src="lib/bundle.js"></script>
     <link rel="icon" href="pong.ico" type="image/x-icon">
    <title>Pong</title>
  </head>
  <body>

    <div class="game-border">
      <div class="wrapper-left">
        <h1>Pong</h1>
        <canvas height='500' width='500' id="game"></canvas>
      </div>
      <div class="wrapper-right">
        <div class="rules">
          Patrycja Pong: The first to <br/> <br/>
          score 5 points first wins!!
        </div>

        <div class="scoreboard">
          <h1>Score</h1>
          <div id="ai">Human:</div>
          <div id="human">Computer:</div>
        </div>

        <div class="item2">
          <div class="instructions">
            <p>Press Enter to play!</p>
            <p>Use Up or Down arrows to move.</p>
          </div>

          <div id="winner">
          </div>
        </div>
      </div>
    </div>
    <div class="contact">

        <span class="links">
          <a href="https://github.com/plupinska" target="_blank">
            <img class="aa" src="Github.png" alt="Github.png" />
          </a>
        </span>

        <span class="links">
          <a href="https://www.linkedin.com/in/lupinskapatrycja" target="_blank">
            <img class="aa" src="Linkedin.png" alt="Linkedin.png"/>
          </a>
        </span>

        <span class="links">
          <a
          href="http://www.patrycjalupinska.com" target="_blank">
          <img id="pl" src="PL.png" atl="PL.png"/>
          </a>
        </span>
    </div>
  </body>
</html>
